* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
}
body {
	font-size: 14px;
	margin: 0;
	background: radial-gradient(ellipse at center, #6c7175 0%, #333333 100%);
	font-weight: bold;
	overflow-x: hidden;
	box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
	.col-res{
		display: none!important;
	}
	.middle{
		width: 100%!important;
	}
	.difficulty{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.line div {
		width: 30px !important;
	}
	.hr-v {
		height: 2px !important;
		width: 270px !important;
		background: #000 !important;
	}
	.hr {
		width: 2px !important;
		height: 30px !important;
		background: #000 !important;
	}
	
	input {
		width: 30px!important;
		height: 30px!important;
	}
	.line {
		height: 30px !important;
	}
	.contain .row .middle .ingame .number .num {
		width: 40px!important;
		height: 40px!important;
		font-size: 1rem!important;
		margin: 0.5rem!important;
		border: 3px solid #54452b!important;
	}
	.footer-content-small {
		margin: 0.5rem!important;
	}
	.banner {
		margin: 0rem !important;
	}
	.banner img {
		width: 30%!important;
	}
	h1 {
		margin: 5px!important;
		font-size: 30px!important;
	}
}


///////////////////////////////////
#tittle{
	width: 100%;
	text-align: center;
	background: #100f0f;
}
.container-fluid{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
	height: 100%;
	width: 100%;
	background: #2a2a2a;
}
h1 {
	margin: 8px;
	color: #fad390;
	text-shadow: 0 0 5px #a9b2b4;
	font-size: 40px;
}
button {
	//margin-bottom: 20px;
	font-weight: bold;
	margin: 1rem;
	height: 2rem;
	width: 7rem;
	border: 0;
	border-radius: 10rem;
	background: #000;
	color: #fad390;
	transition-duration: 0.3s;
	cursor: pointer;
	border-color: none;
	transition: ease-in-out 0.5s;
}

button:hover {
	background: #fad390;
	color: #000;
	transform: scale(1.03);
}
input {
	//height: 20px;
	//width: 20px;
	background: none;
	border: none;
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	width: 50px;
	height: 50px;
	font-weight: bold;
}

.control{
	display: none;
}

.banner{
	display: flex;
	justify-content: center;
	margin: 4rem;
	img{
		width: 65%;
	}
}
button{
	outline: none;
}
.contain {
	margin-top: 50px;
	margin: auto;	
	.row{
		width: 100%;
		margin: 0;
		padding: 0;
		.left{
			.content{
				.app{
					.game{
						.img{
							padding: 0;
							img{
								width: 100%;
							}
						}
						.des{
							display: flex;
							justify-self: center;
							align-items: center;
							.des-content{
								padding: 0;
								display: flex;
								flex-direction: column;
								.name-author{
									font-weight: normal;
								}
								.stars{
									color: yellow;
								}
							}
							
						}
					}
					.download{
						.img-app{
							width: 50%;
							padding: 0;
						}
						img{
							width: 100%;
							
						}
					}
				}
			}
		}
		.middle{
			position: relative;
			padding: 1rem;
			display: flex;
            //justify-content: center;
            flex-direction: column;
			align-items: center;
			//background: #353535;
			background: url(../img/bggggg.jpg);
			background-repeat: repeat;
            .ingame_hide{
                display: none;
            }
            .ingame{
                display: flex;
                .number{
                    cursor: pointer;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                   .num{
					   transition: ease-in-out 0.5s;
					   color: #fad390;
                       cursor: pointer;
                       width: 60px;
					   height: 60px;
					   font-size: 2rem;
					   margin: 1rem;
					   border: 5px solid #54452b;
                       background: #000;
                       border-radius: 50%;
                       display: flex;
                       justify-content: center;
                       align-items: center;
				   }
				   .num:hover{
					   transform: scale(1.1);
				   }
                }
                
            }
			.board{
				position: relative;
				border: 3px solid #facb80;
				background: #facb80;
				display: flex;
				flex-direction: column;
				box-shadow: 0 0 5px #facb80;
			}
			
			.hide-board{
				position: absolute;
				background-color: #5b5d5f;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				display: none;
				.cous{
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					.icon{
						width: 3rem;
						height: 3rem;
						i{
							transition: ease-in-out 0.5s;
							font-size: 3rem;
							cursor: pointer;
							color: #000;
						}
						i:hover{
							transform: scale(1.5);
							color: #000;
						}
					}
					
				}
			}
		}
		.right{
			
		}
	}
}

.line {
	height: 50px;
	width: 100%;
	display: flex;
}

.line div {
	border: 0.01em solid #000;
	width: 50px;
	//position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	p{
		margin: 0;
	}
}
input{
    background: #e0e0e0;
    border: 0.01em solid #000 ;
}

.line:nth-child(3) div,
.line:nth-child(6) div {
	//border-bottom: 3px solid #000;
}

.line div:nth-child(3),
.line div:nth-child(6) {
	//border-right: 3px solid #000;
}


.Timer{
	color: #fad390;
	margin-bottom: 1.5rem;
}
.pause{
	height: 1rem;
	display: none;
	font-weight: normal;
	.pause-content{
		display: flex;
		.time-icon{
			//cursor: pointer;
			color: #fad390;
			margin-right: 5px;
			.icon-play{
				display: none;
				opacity: 0;
			}
		}
	}
}

.board{
	display: none;
}

.main{
	width: 100%;
	border-top: 5px solid #35393a;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
.left{
	padding: 0;
	// border-left: 5px solid #35393a;
	// border-right: 5px solid #35393a;
}
.right{
	padding: 0;
	// border-left: 5px solid #35393a;
	// border-right: 5px solid #35393a;
}
.col-2-{
	width: 12.5%;
}
.col-8-{
	width: 75%;
}
.level{
	color: #fad390;
	margin-right: 1.5rem;
}
input:hover{
	background: #aaacac;
}
.hr{
	width: 2px !important;
	height: 50px ;
	background: #000 !important;
	//width: 1px;
	//border: 3px solid #000;
}
.hr-v{
	height: 2px !important;
	width:  450px ;
	background: #000 !important;
	//width: 1px;
	//border: 3px solid #000;
}

.sudoku{
	margin: 3rem 0;
	&-tittle{
		text-align: center;
	}
	&-content{
		font-weight: normal;
		padding: 3rem;
		background: #100f0f;
		color: #fad390;
		border-radius: 2rem;
		box-shadow: 10px 10px #272525;
	}
}

.footer{
	transition: ease-in-out 0.5s;
	color: #f8c291;
	//cursor: pointer;
	width: 100%;
    display: flex;
    flex-direction: column;
	align-items: center;
	background: #100f0f;
	&-copyright{
		margin-top: 1.5rem ;
	}
	&-content{
		font-weight: normal;
		display: flex;
		&-small{
			margin:  1rem;
		}
	}
	a{
		color: #f8c291;
	}
}

.col-2-{
	.content{
		position: relative;
		.close-ad{
			position: absolute;
			top:0;
			right: 0;
			cursor: pointer;
			color: #a9b2b4;
		}
		.open-ad{
			position: absolute;
			top:0;
			left: 0;
			cursor: pointer;
			color: #a9b2b4;
			display: none;
		}
		.slider-content{
			position: absolute;
			top:0;
			right: 0;
		}
	}
}