* {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  background: radial-gradient(ellipse at center, #6c7175 0%, #333333 100%);
  font-weight: bold;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .col-res {
    display: none !important;
  }
  .middle {
    width: 100% !important;
  }
  .difficulty {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .line div {
    width: 30px !important;
  }
  .hr-v {
    height: 2px !important;
    width: 270px !important;
    background: #000 !important;
  }
  .hr {
    width: 2px !important;
    height: 30px !important;
    background: #000 !important;
  }
  input {
    width: 30px !important;
    height: 30px !important;
  }
  .line {
    height: 30px !important;
  }
  .contain .row .middle .ingame .number .num {
    width: 40px !important;
    height: 40px !important;
    font-size: 1rem !important;
    margin: 0.5rem !important;
    border: 3px solid #54452b !important;
  }
}

#tittle {
  width: 100%;
  text-align: center;
  background: #100f0f;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background: #2a2a2a;
}

h1 {
  margin: 8px;
  color: #fad390;
  text-shadow: 0 0 5px #a9b2b4;
  font-size: 40px;
}

button {
  font-weight: bold;
  margin: 1rem;
  height: 2rem;
  width: 7rem;
  border: 0;
  border-radius: 10rem;
  background: #000;
  color: #fad390;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
  border-color: none;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

button:hover {
  background: #fad390;
  color: #000;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

input {
  background: none;
  border: none;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-weight: bold;
}

.control {
  display: none;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem;
}

.banner img {
  width: 65%;
}

button {
  outline: none;
}

.contain {
  margin-top: 50px;
  margin: auto;
}

.contain .row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.contain .row .left .content .app .game .img {
  padding: 0;
}

.contain .row .left .content .app .game .img img {
  width: 100%;
}

.contain .row .left .content .app .game .des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain .row .left .content .app .game .des .des-content {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contain .row .left .content .app .game .des .des-content .name-author {
  font-weight: normal;
}

.contain .row .left .content .app .game .des .des-content .stars {
  color: yellow;
}

.contain .row .left .content .app .download .img-app {
  width: 50%;
  padding: 0;
}

.contain .row .left .content .app .download img {
  width: 100%;
}

.contain .row .middle {
  position: relative;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/bggggg.jpg);
  background-repeat: repeat;
}

.contain .row .middle .ingame_hide {
  display: none;
}

.contain .row .middle .ingame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contain .row .middle .ingame .number {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contain .row .middle .ingame .number .num {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: #fad390;
  cursor: pointer;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  margin: 1rem;
  border: 5px solid #54452b;
  background: #000;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain .row .middle .ingame .number .num:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contain .row .middle .board {
  position: relative;
  border: 3px solid #facb80;
  background: #facb80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 5px #facb80;
          box-shadow: 0 0 5px #facb80;
}

.contain .row .middle .hide-board {
  position: absolute;
  background-color: #5b5d5f;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
}

.contain .row .middle .hide-board .cous {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contain .row .middle .hide-board .cous .icon {
  width: 3rem;
  height: 3rem;
}

.contain .row .middle .hide-board .cous .icon i {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  font-size: 3rem;
  cursor: pointer;
  color: #000;
}

.contain .row .middle .hide-board .cous .icon i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: #000;
}

.line {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line div {
  border: 0.01em solid #000;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
}

.line div p {
  margin: 0;
}

input {
  background: #e0e0e0;
  border: 0.01em solid #000;
}

.Timer {
  color: #fad390;
  margin-bottom: 1.5rem;
}

.pause {
  height: 1rem;
  display: none;
  font-weight: normal;
}

.pause .pause-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pause .pause-content .time-icon {
  color: #fad390;
  margin-right: 5px;
}

.pause .pause-content .time-icon .icon-play {
  display: none;
  opacity: 0;
}

.board {
  display: none;
}

.main {
  width: 100%;
  border-top: 5px solid #35393a;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.left {
  padding: 0;
}

.right {
  padding: 0;
}

.col-2- {
  width: 12.5%;
}

.col-8- {
  width: 75%;
}

.level {
  color: #fad390;
  margin-right: 1.5rem;
}

input:hover {
  background: #aaacac;
}

.hr {
  width: 2px !important;
  height: 50px;
  background: #000 !important;
}

.hr-v {
  height: 2px !important;
  width: 450px;
  background: #000 !important;
}

.sudoku {
  margin: 3rem 0;
}

.sudoku-tittle {
  text-align: center;
}

.sudoku-content {
  font-weight: normal;
  padding: 3rem;
  background: #100f0f;
  color: #fad390;
  border-radius: 2rem;
  -webkit-box-shadow: 10px 10px #272525;
          box-shadow: 10px 10px #272525;
}

.footer {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  color: #f8c291;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #100f0f;
}

.footer-copyright {
  margin-top: 1.5rem;
}

.footer-content {
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-content-small {
  margin: 1rem;
}

.footer a {
  color: #f8c291;
}

.col-2- .content {
  position: relative;
}

.col-2- .content .close-ad {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #a9b2b4;
}

.col-2- .content .open-ad {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: #a9b2b4;
  display: none;
}

.col-2- .content .slider-content {
  position: absolute;
  top: 0;
  right: 0;
}
/*# sourceMappingURL=style.css.map */